.burn-up-chart {
  padding-top: 63px;
}

.burn-down-chart-select {
  width: 130px;
  margin-left: auto;
  margin-right: 40px;
}

.velocity-chart {
  margin-top: 4em;
  width: 50%;
}

.velocity-chart-velocity {
  text-align: right;
}
